@font-face {
  font-family: 'Sinami demo';
  src: url('/font/Sinami demo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

footer{
    background-color: #033552;
    padding: 2% 5%;
    color: #ffffff;
    font-family: 'Sinami demo', serif;
    font-size: 16px;
    text-align: center;
}