@font-face {
  font-family: 'Sinami demo';
  src: url('/font/Sinami demo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.navbar{
  background-color: #4996c3;
}

.navbar-brand{
  color: #ffffff;
  font-size: 30px;
  font-family: 'Sinami demo', serif;
}

.navbar-brand:hover{
  color: #ffffff;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler-icon{
  color: #ffffff;
  border: none;
}

.collapse{
  padding-left: 3%;
}

.nav-link{
  color: #ffffff;
  font-size: 16px;
  font-family: 'Sinami demo', sans-serif;
}

.nav-link:hover{
  color: #ffffff;
}

.nav-item{
  color: #ffffff;
  font-family: 'Sinami demo', sans-serif;
}

.dropdown-menu{
  background-color: #076AA3;
  font-size: 16px;
}

.dropdown-item{
  color: #ffffff;
  font-family: 'Sinami demo', sans-serif;
}

.dropdown-item:hover{
 background-color: #065989;
 color: #ffffff;
}