.custom-side-panel {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100%;
  background-color: #2b79a7;
  box-shadow: -2px 0 12px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1055;
  overflow-y: auto;
  border-left: 1px solid rgb(45, 80, 114);
}

.custom-side-panel.show {
  left: 0;
}

.custom-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1050;
}
