@font-face {
  font-family: 'Burgundia';
  src: url('../assets/fonts/Burgundia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*------------------LAYOUT---------------------*/
.layout-empresa{
    display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 0;
  padding: 0;
}

/*-------------------BANNER DE INDICE?--------------*/
.empresa-index{
    background-image: linear-gradient(to bottom right, #26475a, #4996c3);
  text-align: left;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10% 5%;
}

.empresa-index h2{
    font-family: 'Burgundia', sans-serif;
  font-size: 40px;
  color: #4996C3;
}

/*-----------------DIVS A LA IZQUIERDA----------------------*/
.nosotros, .vision, .solucion{
    background-image: linear-gradient(to bottom right, #26475a, #4996c3);
  text-align: left;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5% 5%;
}

.nosotros-container, .vision-container, .solucion-container{
    display: flex;
  align-items: center;
  padding: 10% 10%;
  gap: 5rem;
  flex-wrap: wrap;
}

.nosotros-info, .vision-info, .solucion-info{
    flex: 1;
  text-align: left;
}

.nosotros-info h2, .vision-info h2, .solucion-info h2{
    font-family: 'Burgundia', sans-serif;
  font-size: 40px;
  color: #4996C3;
}

.nosotros-info p, .vision-info p, .solucion-info p{
color: #ffffff;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.nosotros-imagen, .vision-imagen, .solucion-imagen, .mision-imagen, .valores-imagen, .enfoque-imagen {
  flex: 1;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nosotros-imagen img, .vision-imagen img, .solucion-imagen img, .mision-imagen img, .valores-imagen img, .enfoque-imagen img{
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 40px 15px ;
  box-shadow: #26475a 4px 4px 2px;
}

/*---------------DIVS A LA DERECHA-------*/
.mision, .valores, .enfoque{
  background-image: linear-gradient(to bottom right, #26475a, #4996c3);
  text-align: right;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5% 5%;
}

.mision-container, .valores-container, .enfoque-container{
    display: flex;
  align-items: center;
  padding: 10% 10%;
  gap: 2rem;
  flex-wrap: wrap;
}

.mision-info, .valores-info, .enfoque-info{
  flex: 1;
  text-align: right;
}

.mision-info h2, .valores-info h2, .enfoque-info h2{
    font-family: 'Burgundia', sans-serif;
  font-size: 40px;
  color: #4996C3;
}

.mision-info p, .valores-info p, .enfoque-info p{
    color: #ffffff;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}