@font-face {
  font-family: 'Burgundia';
  src: url('../assets/fonts/Burgundia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

footer{
  background-color: #033552;
  padding: 2% 5%;
}

.subtitles{
  color: #33aaee;
  font-family: 'Burgundia', sans-serif;
}

.text{
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  text-decoration: none;
}

.text:hover{
  text-decoration: underline;
}

