@font-face {
  font-family: 'Burgundia';
  src: url('../assets/fonts/Burgundia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes flip-guante{
    35%{
        transform: rotateX(360deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}
/*----------------------------LAYOUT---------------------*/
.layout-guante{
    display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 0;
  padding: 0;
}

/*-----------------------BANNER INICIAL----------------*/
.banner-guante{
    height: 91vh;
    background-image: linear-gradient(to bottom right, #26475a, #4996c3);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Burgundia', serif;
    padding: 2rem;
}

.loader-guante{
    perspective: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.loader-guante > span{
    color: #ffffff;
    font-size: 70px;
    display: inline-block;
    animation: flip-guante 2.6s infinite linear;
    transform-origin: 0 50%;
    transform-style: preserve-3d;
}

.loader-guante > span:nth-child(2){
    animation-delay: 0.3s;
}

.loader-guante > span:nth-child(3){
    animation-delay: 0.6s;
}

.loader-guante > span:nth-child(4){
    animation-delay: 0.9s;
}

.loader-guante > span:nth-child(5){
    animation-delay: 1.2s;
}

.loader-guante > span:nth-child(6){
    animation-delay: 1.5s;
}

.loader-guante > span:nth-child(7){
    animation-delay: 1.8s;
}

.loader-guante > span:nth-child(8){
    animation-delay: 2.1s;
}

.loader-guante > span:nth-child(9){
    animation-delay: 2.4s;
}

.loader-guante > span:nth-child(10){
    animation-delay: 2.7s;
}

.abajo-guante {
  display: inline-block;
  margin-top: 2rem;
  color: #ffff;
  text-decoration: none;
}

/*-------------------------------------------GUANTE EN TECNICO----------------------*/
.guanteT{
    background-image: linear-gradient(to bottom right, #26475a, #4996c3);
  text-align: left;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10% 5%;
}

.guanteT h2{
    font-family: 'Burgundia', sans-serif;
  font-size: 40px;
  color: #4996C3;
}

.list-group-item {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
  background: none;
  border: 2px #4996C3 dashed;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 50%;
}

.list-group-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #bbdefb, #90caf9);
  color: #0d47a1;
}

/*--------------------DEMAS DIVS-----------------*/
.general, .esp{
    background-image: linear-gradient(to bottom right, #26475a, #4996c3);
  text-align: right;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5% 5%;
}

.sensores, .giroscopio{
  background-image: linear-gradient(to bottom right, #26475a, #4996c3);
  text-align: left;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5% 5%;
}

.general-container, .esp-container{
    display: flex;
  align-items: center;
  padding: 10% 10%;
  gap: 2rem;
  flex-wrap: wrap;
}

.sensores-container, .giroscopio-container{
  display: flex;
  align-items: center;
  padding: 10% 10%;
  gap: 2rem;
  flex-wrap: wrap;
}

.general-info, .esp-info{
  flex: 1;
  text-align: right;
}

.sensores-info, .giroscopio-info{
  flex: 1;
  text-align: left;
}

.num{
  font-family: 'Times New Roman', Times, serif;
}

.general-info h2, .esp-info h2, .sensores-info, .giroscopio-info{
    font-family: 'Burgundia', sans-serif;
  font-size: 40px;
  color: #4996C3;
}

.general-info p,.general-info ul, .esp-info p, .sensores-info p, .giroscopio-info p{
    color: #ffffff;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.sensores-imagen, .esp-imagen, .giroscopio-imagen{
  flex: 1;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sensores-imagen img, .esp-imagen img, .giroscopio-imagen img{
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  box-shadow: #26475a 4px 4px 2px;
}