@font-face {
  font-family: 'Burgundia';
  src: url('../assets/fonts/Burgundia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes index-fade-in{
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/*------------------------------------------------------------*/
.layout-index {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 0;
  padding: 0;
}

/*------------------------Banner de inicio----------------------------*/
.banner-index{
  background-image: linear-gradient(to bottom right, #26475a, #4996c3);
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo{
  animation: index-fade-in 3s ease-in-out forwards;
  height: 90%;
}

.slogan{
  color: #ffffff;
  font-family: 'Burgundia', sans-serif;
  font-size: 20px;
  animation: index-fade-in 3s ease-in-out forwards;
}

.abajo{
  margin-top: 10px;
  bottom: 20px;
  left: 50%;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  animation: fade-in 3s ease-in-out forwards;
}

/*------------------------------Conocer más------------------------*/
.guante{
  background-image: linear-gradient(to bottom right, #26475a, #4996c3);
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.guante-container{
  display: flex;
  align-items: flex-start;
  padding: 2% 10%;
  gap: 2rem;
  flex-wrap: wrap;
}

.guante-info{
  flex: 1;
  text-align: left;
}

.guante-info h2{
  font-family: 'Burgundia', sans-serif;
  font-size: 40px;
  color: #4996C3;
}

.guante-info p{
  color: #ffffff;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.navegar{
  color: #ffffff;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.navegar:hover{
  text-decoration: underline;
}

.guante-imagen{
  flex: 1;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guante-imagen img{
  max-width: 100%;
  height: auto;
  display: block;
  animation: index-fade-in 7s ease-in forwards;
}

@media (max-width: 768px) {
  .guante-container {
    flex-direction: column;
    align-items: center; 
  }

  .guante-info h2{
    text-align: center;
  }
}