@font-face {
  font-family: 'Burgundia';
  src: url('../assets/fonts/Burgundia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 70px;
}

.navbar{
  background-image: linear-gradient(to right, #000000, #2b4553);
}

.navbar-brand{
  color: #ffffff;
  font-size: 30px;
  font-family: 'Burgundia', serif;
}

.logo-navbar{
  height: 40px;
}

.navbar-brand:hover{
  color: #ffffff;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler-icon{
  color: #ffffff;
  border: none;
}

.fa-solid{
  color: #ffffff;
  border: none;
}

.fa-solid:active{
  border: none;
}

.collapse{
  padding-left: 3%;
}

.nav-link{
  color: #ffffff;
  font-size: 16px;
  font-family: 'Burgundia', sans-serif;
}

.nav-link:hover{
  color: #ffffff;
  text-decoration: underline;
}

.nav-item{
  color: #ffffff;
  font-family: 'Burgundia', sans-serif;
}

.dropdown-menu{
  background-color: #054F7A;
  font-size: 16px;
}

.dropdown-item{
  color: #ffffff;
  font-family: 'Burgundia', sans-serif;
}

.dropdown-item:hover{
 background-color: #065989;
 color: #ffffff;
}

.perfil{
  font-family: 'Burgundia', serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 8px;
}