@font-face{
  font-family: 'Burgundia';
  src: url('../assets/fonts/Burgundia.woff2') format('woff2');
  font-weight: normal;
    font-style: normal;
}

@keyframes cambioColorFondo {
  0% {
    background-color: #0887D1;
  }
  25% {
    background-color: #076DA8;
  }
  50% {
    background-color: #054F7A;
  }
  75%{
    background-color: #076DA8;
  }
  100% {
    background-color: #0887D1;
  }
}

/*------------------------------*/
.layout-perfil {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 0;
  padding: 0;
}

/*-------------------PERFIL BODY-----------------------*/
.perfil-body{
  height: 91vh;
  animation: cambioColorFondo 5s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/*--------------------CARDS----------------------------*/
.nombre-card, .email-card, .passw-card{
  background: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 420px;
}

.nombre-card h2, .email-card h2, .passw-card h2{
  margin-bottom: 24px;
  color: #054f7a;
  text-align: center;
  font-family: 'Burgundia', sans-serif;
}

.nombre-card form input, .email-card form input, .passw-card form input{
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #054f7a;
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  color: #000000;
}

nombre-card form input:focus, .email-card form input:focus, .passw-card form input:focus{
  outline: none;
}

.nombre-card button, .email-card button, .passw-card button{
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #33aaee;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Burgundia', sans-serif;
  cursor: pointer;
  transition: background 0.3s ease;
}

.nombre-card button:hover, .email-card button:hover, .passw-card button:hover{
  background-color: #076aa3;
}