@font-face {
  font-family: 'Burgundia';
  src: url('../assets/fonts/Burgundia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*------------------------LAYOUT NORMAL--------------*/
.layout-traductor {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 0;
  padding: 0;
}

/*--------------BANNER TRADUCTOR-----------------------*/
.banner-traductor{
    background-image: linear-gradient(to bottom right, #26475a, #4996c3);
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.banner-traductor p{
    font-family: 'Burgundia', sans-serif;
  font-size: 40px;
  color: #4996C3;
}

.traduciendo{
    padding: 3%;
    background-color: #ffffff;
    width: 90%;
    max-width: 1500px;
    border-radius: 50px 10px;
    min-height: 50px;
    transition: height 0.3s ease;
}

.traduciendo h3{
font-family: 'Burgundia', sans-serif;
  font-size: 30px;
  color: #4996C3;
}

.traduciendo p{
  color: #000000;
   font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}